.content{
    background-color: rgb(213, 173, 255);
    color: rgb(85, 13, 124);
    min-width: 200px;
    padding: 15px;
    cursor: pointer;
}

.content:hover{
    background-color: rgb(235, 214, 255);
}