<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Livro"> 
    <app-search></app-search>
    <app-livro *ngFor="let livro of livros"
      nome = "{{ livro.nome }}"
      categoria = "{{ livro.categoria.nome }}"
      texto = "{{ livro.texto }}"
      autor = "{{ livro.autor }}"
      tamanho = "{{ livro.tamanho }}"
    ></app-livro> 
  </mat-tab>
  
  <mat-tab label="Categoria"> 
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile *ngFor="let categoria of categorias">
        <app-categoria
          nome="{{ categoria.nome }}"
          descricao="{{ categoria.descricao }}"
        ></app-categoria>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> <mat-icon>settings</mat-icon> </ng-template>
    <app-cadastro></app-cadastro>
  </mat-tab>
</mat-tab-group>
  